--- 
title: Contact
layout: 'base.njk'
---




<div class="contact">
	<img src="https://i.imgur.com/FMrfp2P.png" alt="">
	<h1>Wanna tell-me something?</h1>
	<h4>If you wanna contact me you can send a email to xduxdg@gmail.com</h4>
	<h4>
   or if you prefeer you can DM on <a href="https://twitter.com/eduxdux_">Twitter</a></h4>
</div>
