---
title: Eduxdux | Generative artist
layout: 'base.njk'
---


<div class="conteudo">
<section class="sobre">
      <img src="https://i.imgur.com/1nV5cn7.png" alt="Foto" class="foto-secao">
      <div>
          <h3>GUESS WHO I AM</h3>
          <p>Eduardo Crivellari, aka. eduxdux, is a skilled Brazilian generative artist with a degree in Animation
              Cinema and Digital Arts (UFMG). Fusing his love for technology and art, eduxdux crafts unique and
              innovative pieces, delving into the interplay between the human and the digital realm. His work is
              characterized by experimentation, pushing the boundaries of creativity</p>

          <div class="links">
              <ul>
                  <li><a href="https://www.fxhash.xyz/u/Eduxdux" target="_blank">FxHash</a></li>
                  <li><a href="https://www.eclipse.art/profile/0x22d02786f813a70c5699621810d0ea85efa07332/collections" target="_blank">Eclipse.art</a></li>
                  <li><a href="https://foundation.app/collection/malado" target="_blank">Foundation</a></li>
                  <li><a href="https://twitter.com/eduxdux_" target="_blank">Twitter</a></li>
              </ul>
          </div>
      </div>

  </section>






      <section class="card-list">
            <h2>Featured works:</h2>
      {%- for post in collections.featured | reverse -%}
      {% include "article-snippet.njk" %}
      {% endfor %}

      </section>
</div>


  
