---
title: Eduxdux | Generative artist
layout: 'base.njk'
---


<div class="conteudo">
<section class="sobre">
      <img src="https://i.imgur.com/1nV5cn7.png" alt="Foto" class="foto-secao">
      <div>
          <h3>GUESS WHO I AM</h3>
          <p>Eduardo Crivellari aka. Eduxdux

            Graduated in Animation Cinema and Digital Arts from the Federal University of Minas Gerais (UFMG), Eduardo Crivellari is a multidisciplinary-trained artist who has found his true home in generative art.
            
            Fascinated by geometric shapes and simplicity, he dedicates himself to creating abstract compositions anchored in basic geometric elements and a vibrant color palette. Varied textures are often incorporated to add an additional layer of depth and complexity to his works.
            
            His relationship with the intersection between art and technology dates back to his teenage years, during which time he explored possibilities in animation and programming through the Flash platform. This academic focus intensified over his years of university education. In 2021, a significant decision was made to direct the majority of his artistic production toward the realm of generative art. This transition greatly benefited from the advent of Non-Fungible Tokens (NFTs), which have opened up a vast array of new opportunities in the artistic field.
            
            Drawing inspiration from both classic and contemporary artists who masterfully explore simplicity, Eduardo also finds himself influenced by notable works in graphic design and motion design. A motto that deeply resonates in his artistic philosophy is a quote from renowned Italian designer Bruno Munari: "Complicating is easy, simplifying is difficult. (...) Everyone can complicate. Few can simplify."</p>

          <div class="links">
              <ul>
                  <li><a href="https://www.fxhash.xyz/u/Eduxdux" target="_blank">FxHash</a></li>
                  <li><a href="https://prohibition.art/u/eduxdux#created" target="_blank">Prohibition</a></li>
                  <li><a href="https://zora.co/collect/zora:0x070705eaeb0dfa8b27211248b22966ed5b9328d4" target="_blank">Zora</a></li>
                  <li><a href="https://foundation.app/collection/malado" target="_blank">Foundation</a></li>
                  <li><a href="https://twitter.com/eduxdux_" target="_blank">Twitter</a></li>
              </ul>
          </div>
      </div>

  </section>






      <section class="card-list">
            <h2>Featured works:</h2>
      {%- for post in collections.featured | reverse -%}
      {% include "article-snippet.njk" %}
      {% endfor %}

      </section>
</div>


  
