---
title: Eduxdux | Generative artist
layout: 'base.njk'
---
{% import "featureds.njk" as featureds %}


<div class="conteudo">
<section class="sobre">
      <img src="https://i.imgur.com/1nV5cn7.png" alt="Foto" class="foto-secao">
      <div>
          <h3>GUESS WHO I AM</h3>
          <p>Eduardo Crivellari aka. Eduxdux
            <br>
            Graduated in Animation Cinema and Digital Arts from the Federal University of Minas Gerais (UFMG), Eduardo Crivellari is a multidisciplinary-trained artist who has found his true home in generative art.
            <br><br>
            Fascinated by geometric shapes and simplicity, he dedicates himself to creating abstract compositions anchored in basic geometric elements and a vibrant color palette. Varied textures are often incorporated to add an additional layer of depth and complexity to his works.
            </p>

            
          <div class="links">
            
              <ul>
                  <li><a href="https://www.fxhash.xyz/u/Eduxdux" target="_blank">FxHash</a></li>
                  <li><a href="https://prohibition.art/u/eduxdux#created" target="_blank">Prohibition</a></li>
                  <li><a href="https://zora.co/collect/zora:0x070705eaeb0dfa8b27211248b22966ed5b9328d4" target="_blank">Zora</a></li>
                  <li><a href="https://foundation.app/collection/malado" target="_blank">Foundation</a></li>
                  <li><a href="https://twitter.com/eduxdux_" target="_blank">Twitter</a></li>
                  <li><a href="https://thehug.xyz/artists/eduxdux" target="_blank">HUG profile</a></li>
              </ul>
              <a class="links" href="https://links.eduxdux.com">All my fxhash projects</a>
          </div>
      </div>

  </section>






      <section class="card-list-wrap" >
            <h2>Featured works:</h2>
        <div class="card-list">
            {{ featureds.snippet('https://highlight.xyz/mint/64f247c8373cff27b5e92ff4', 'https://pbs.twimg.com/media/F5H-aH9W0AAoygi?format=jpg&name=4096x4096', 'Bloquinhos image', 'Bloquinhos', 'Base','On sale') }}
            {{ featureds.snippet('https://prohibition.art/project/my-life', 'https://prohibition.art/_next/image?url=https%3A%2F%2Fmedia-proxy-arbitrum.artblocks.io%2F0x47A91457a3a1f700097199Fd63c039c4784384aB%2F19000014.png&w=640&q=75', 'My life image', 'My life', 'Arbitrum','On sale') }}
            {{ featureds.snippet('https://genify.xyz/collection/97/items', 'https://lambda.im/lws/QmQvfWXbaXuY16wY9KqHYjAjGkUNZZiKQFq4cHeP3wR7rP/original.png', 'Rota image', 'Rota', 'Lambda','On sale') }}
            {{ featureds.snippet('https://zora.co/collect/zora:0x67460fa512ae7562b2b2fd04c39449e08b1d44f8', 'https://remote-image.decentralized-content.com/image?url=https%3A%2F%2Fipfs.decentralized-content.com%2Fipfs%2Fbafybeiglywzokfoadhtuwn6sj7dxxyb7jt72mtgaj3niliqupgc33qbq3y&w=1920&q=75', 'Dissolving code image', 'Dissolving code', 'Zora','Free open Edition') }}
            {{ featureds.snippet('https://www.fxhash.xyz/generative/24399', 'https://gateway.fxhash.xyz/ipfs/QmdtdEpcmwnEL6XqQRWEuEb2kJDLNT9TfHdGyUbe5HPKW8', 'Livro image', 'Livro', 'Tezos','Soldout') }}
            {{ featureds.snippet('https://foundation.app/collection/malado', 'https://f8n-production-collection-assets.imgix.net/0x417f086480C88a4A6B87631CcCA8113C2E265f27/5/nft.png?q=80&auto=format%2Ccompress&cs=srgb&w=3000&h=3000&fit=max', 'Malado image', 'Malado', 'Ethereum','On sale') }}
            {{ featureds.snippet('https://www.fxhash.xyz/generative/16298', 'https://gateway.fxhash.xyz/ipfs/QmR3PkcV2hhNtHnoXwmGpaGKEj7PmFE4MatUvDuoV2ebnZ', 'Balai image', 'Balai', 'Tezos','Soldout') }}
            {{ featureds.snippet('https://www.fxhash.xyz/generative/8832', 'https://gateway.fxhash.xyz/ipfs/QmYz83HMHuAVN2rWfZMsRJ3mjjb8QZEG7dTbXK7xPPE8sw', 'Puxadinho image', 'Puxadinho', 'Tezos','Soldout') }}
            
            {# <div style="border-radius:4px;overflow:hidden;max-width:600px;margin:0 auto;background-color:black"><iframe id="embed" width="100%"  frameBorder="0" src="https://zora.co/editions/zora:0x070705eaeb0dfa8b27211248b22966ed5b9328d4/frame?padding=0&mediaPadding=0&showDetails=false&theme=dark&showMedia=true&showCollectors=false&showMintingUI=true"></iframe></div><script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.3.2/iframeResizer.min.js" integrity="sha512-dnvR4Aebv5bAtJxDunq3eE8puKAJrY9GBJYl9GC6lTOEC76s1dbDfJFcL9GyzpaDW4vlI/UjR8sKbc1j6Ynx6w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script><script>iFrameResize({ log: false, heightCalculationMethod: 'taggedElement' }, '#embed')</script> #}
    </div>
      </section>
     
</div>


  
{# <link rel="stylesheet" href="https://mint.highlight.xyz/assets/embed.css" />
<div data-widget="highlight-mint-card" data-mint-collection-id="64f247c8373cff27b5e92ff4"></div>
<script type="module" crossorigin="true" src="https://mint.highlight.xyz/assets/embed.js?v=1"></script> #}
  
      {# {%- for post in collections.featured | reverse -%}
      {% include "article-snippet.njk" %}
      {% endfor %} #}