
:root {
	--font-body: 'Open Sans', sans-serif;
	--font-head: 'Zilla Slab', serif;
	--font-sub: 'Montserrat', sans-serif;
	--grey: #1C1C1C;
	--pink: #E95699;
	--purple: #492B63;
    --texto: white;
}


/* //////////////////////
  RESET - source: https://piccalil.li/blog/a-modern-css-reset
  /////////////////////// */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul:where([role="list"]),
ol:where([role="list"]) {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: var(--texto);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* :root {
    --font-body: 'Open Sans', sans-serif;
    --font-head: 'Zilla Slab', serif;
    --font-sub: 'Montserrat', sans-serif;
    --grey: #282a36;
    --pink: #e95699;
    --purple: #492b63;
} */
html {
    font-size: 15px;
}
body {
    background: var(--grey);
    text-decoration: none;
    font-family: var(--font-body);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.04rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.75rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-family: var(--font-sub);
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}
.gallery a {
    text-decoration: none;
}
h6 {
    font-size: 1rem;
}
img {
    max-width: 100%;
    height: auto;
}
.plataformas{
    margin-top: 25px;

}

.plataformas a{
    text-decoration: none;
    color: var(--texto);
    font-weight: 700;
    margin: 5px;
}

.plataformas a:hover{
    color: var(--pink);
    font-weight: 900;
    
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-flow: row;
    grid-gap: 0.3rem;
    margin: 0.2rem;
    padding: 1% 10% 0px;
    margin-bottom: 30px;
}
.gallery-item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
}
.gallery-item * {
    -webkit-transition: 0.4s ease-in-out all;
    -o-transition: 0.4s ease-in-out all;
    transition: 0.4s ease-in-out all;
}
.gallery-item .gallery-item__img, .gallery-item .gallery-item__overlay, .gallery-item .gallery-item__text {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}
.gallery-item .gallery-item__img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    width: 50vh;
    height: 50vh;
    object-fit: cover;
}
.gallery-item .gallery-item__overlay {
    width: 100%;
    height: 100%;
    background-color: var(--grey);
    opacity: 0.3;
    z-index: 2;
}
.gallery-item .gallery-item__text {
    z-index: 4;
    color: white;
    opacity: 1;
}
.gallery-item .gallery-item__text h5 {
    margin: 0;
    margin-top: 25%;
    font-size: 1.9rem;
    font-weight: 700;
}
.gallery-item .gallery-item__text p {
    padding: 0 10% 0;
    font-weight: 400;
    font-size: 0.875rem;
    opacity: 0;
}
.gallery-item:focus .gallery-item__img, .gallery-item:hover .gallery-item__img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-filter: blur(2px);
    filter: blur(2px);
}
.gallery-item:focus .gallery-item__overlay, .gallery-item:hover .gallery-item__overlay {
    background-color: var(--purple);
    opacity: 0.8;
}
.gallery-item:focus .gallery-item__text, .gallery-item:hover .gallery-item__text {
    opacity: 1;
}
.gallery-item:focus .gallery-item__text p, .gallery-item:hover .gallery-item__text p {
    opacity: 1;
    text-shadow: 5px 5px 20px var(--grey);
}
.gallery-item:focus .gallery-item__text h5, .gallery-item:hover .gallery-item__text h5 {
    margin-top: 0;
}
.titulo {
    text-align: center;
    margin: 5% 0 5%;
    margin-bottom: 3.5%;
    margin-top: 150px;
}
.titulo img {
    height: auto;
    width: 25vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0vh;
    display: block;
}
.titulo h1 {
    color: var(--pink);
    font-size: 3.5em;
    font-weight: 800;
}
.titulo h4 {
    color: white;
    font-weight: normal;
    font-size: 1rem;
   /* margin-top: -15px;*/
    padding: 0 12% 0;
}

.contact{
    text-align: center;
    margin: 5% 0 5%;
    margin-bottom: 5%;
    margin-top: 150px;
}

.contact img {
    height: auto;
    width: 25vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0vh;
    display: block;
}

.contact h1 {
    color: var(--pink);
    font-size: 3.5em;
    font-weight: 800;
}
.contact h4 {
    color: white;
    font-weight: normal;
    font-size: 1rem;
   /* margin-top: -15px;*/
    padding: 0 12% 0;
}

.contact a {
    color: var(--pink);
    font-weight: normal;
    font-size: 1rem;

}
nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: var(--font-body);
    font-weight: normal;
    padding: 0 2%;
    height: 60px;
    background-color: var(--grey);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 12px rgba(0, 0, 0, 0.24);
}
nav .logo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #fff;
    font-family: var(--font-body);
    font-weight: bold;
}
nav .logo a {
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: white;
}
nav .logo a:hover {
    scale: 1;
    color: var(--pink);
}
nav .links {
    float: right;
    padding: 0;
    margin: 0;
    margin-right: 10px;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: lighter;
}
nav .links li {
    list-style: none;
    font-weight: lighter;
}
nav .links a:hover {
    color: var(--pink);
}
nav .links a {
    display: block;
    padding: 1em;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    font-weight: lighter;
}
#nav-toggle {
    position: absolute;
    top: -100px;
}
nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}
nav .icon-burger .line {
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin: 5px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
    nav .logo {
        float: none;
        width: auto;
        justify-content: center;
   }
    nav .links {
        float: none;
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 50px;
        bottom: 100%;
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: var(--grey);
        opacity: 0.96;
        overflow: hidden;
        box-sizing: border-box;
        transition: all 0.5s ease-in-out;
   }
    nav .links a {
        font-size: 20px;
   }
    nav :checked ~ .links {
        bottom: 0;
   }
    nav .icon-burger {
        display: block;
   }
    nav :checked ~ .icon-burger .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);
   }
    nav :checked ~ .icon-burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
   }
    nav :checked ~ .icon-burger .line:nth-child(2) {
        opacity: 0;
   }
}
.main-article {
    margin-bottom: 3rem;
  }

  .main-article__figure figcaption {
    margin: 1rem 0;
    font-size: var(--fs-300);
    opacity: .9;
  }

  .flow > *:where(:not(:first-child)) {
    margin-top: var(--flow-spacer, 1em);
  }
  
  .sobre {
    padding: 6em 0em 6em 0em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 70px;
    margin-bottom: 5em; */
    color: #fff;
    width: 90%;
    margin: 0 auto;
    margin-top: 3em;
}

.sobre h3{
    font-size: 4em;
    font-weight: 700;
    margin-bottom: 0;
}

.foto-secao {
    width: 350px; /* Define a largura da imagem */
    height: auto; /* Mantém a proporção da imagem */
    margin-right: 2em;
}
.links ul {
    margin-top: 5em;
    list-style-type: none; /* Remove os marcadores de lista */
    display: flex; /* Exibe os itens da lista em linha */
    padding: 0; /* Remove o padding padrão da lista */
}

.links li {
    margin-right: 10px; /* Adiciona uma margem à direita para espaçar os itens */
}

.links a {
    font-weight: 900;
    color: #ffffff; /* Define a cor da fonte como branca */
    text-decoration: underline; /* Remove o sublinhado dos links */
}

.links a:hover {
    text-decoration: none; /* Adiciona o sublinhado de volta ao passar o mouse */
}

.card-list{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center;
    align-items: center; */
    padding: 2em 0 2em 0;
}

.card-list h2 {
    font-size: 1.5em;
    font-weight: 700;
    color: #fff
}
.card {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    margin-top: 1em;
    cursor: pointer;
    width: 100%; /* Ocupa a maior parte do espaço horizontal */
    margin-left: auto;
    margin-right: auto;
}

.card-img {
    width: 100%; /* A imagem ocupa toda a largura do card */
    height: 250px; /* Altura da imagem fixa em 110px */
    object-fit: cover; /* Mantém a proporção da imagem e corta o excesso */
}

@media (max-width: 767px) {
    .card-img {
        min-width: 100vh; /* Define a largura mínima da imagem */
        height: auto; /* Mantém a proporção da imagem */
    }
    .card-list{
        display: flex;
        flex-wrap: wrap;
        /* justify-content: center;
        align-items: center; */
        padding: 2em 1em 2em 3em;
    }
    body{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    section{
        padding: 3em 12em 3em 12em;
        margin: 0 auto;
    }
}


.card-text{
    /* margin-top: -1.5em; */
    color: #fff;
    text-align: left;
}

.card-text h3 {
    /* margin-bottom: -0.5em; */
    font-size: 1.5em;
    font-weight: 700;
}
.conteudo{
    width: 60%;
    margin: 0 auto; /* Centraliza o body horizontalmente */
}